.title {
  background-color: #29a3a3;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.nav {
  height: 40px;
  background-color: #47d1d1;
}

.main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.companySelect {
  height: 36px;
  width: 225px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #29a3a3;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.userInput {
  height: 30px;
  width: 200px;
  margin: 10px;
  border: 2px solid #29a3a3;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.submitButton {
  margin: 10px;
  width: 125px;
  background-color: #29a3a3;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-color: #47d1d1;
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.output {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.outputLine {
  margin: 10px;
}


